+++
title = "EOS Open Storage"
linkTitle = "EOS"

+++

    <!-- About EOS Section Start -->
    <section id="aboutUs" class="section">

      <div class="container">
        <div class="section-header">
          <h2 class="section-title wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">About <span>EOS</span></h2>
          <hr class="lines wow zoomIn" data-wow-delay="0.3s">
          <p class="section-subtitle wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">EOS provides a service for storing large amounts of physics data and user files, with a focus on interactive and batch analysis</p>
        </div>

        <div class="row">
            <div class="col-md col-sm">
              <div class="item-boxes wow fadeIn" data-wow-delay="0.4s">
                <h4>Elastic, Adaptable and Scalable</h4>
	        <p>EOS is a software solution for central data recording, user analysis and data processing. </p>
	        <p>EOS supports thousands of clients with random remote I/O patterns with multiprotocol support<br><small>HTTP, WebDAV, CIFS, FUSE, XRoot, gsiFTP</small></p>

	        <p>EOS offers a variety of authentication methods<br>
		  <small>KRB5, X509, Shared Secret and UNIX</small></p>
              </div>
            </div>
            <div class="col-md col-sm">
              <div class="item-boxes wow fadeIn" data-wow-delay="0.4s">
                <h4>Over 350 PB of raw disk space at CERN</h4>
                <p> Designed for High-Capacity and Low-Latency provides access to over 7.1B files stored on more than 1.2k nodes and 50k disks at CERN.</p>
              </div>
            </div>
        </div>
      </div>
    </section>
    <!-- About EOS Section End -->

    <!-- Services Section Start -->
    <section id="services" class="section">
      <div class="container">
        <div class="section-header">
          <h2 class="section-title wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">CERN <span>Services</span></h2>
          <hr class="lines wow zoomIn" data-wow-delay="0.3s">
        </div>

        <div class="row">
          <div class="col-md-4 col-sm-6">
            <a href="https://filer-carbon.cern.ch/grafana/dashboard/db/eos-control-tower?orgId=1" target="_blank">
                <div class="item-boxes wow fadeInDown" data-wow-delay="0.2s">
                  <img src="/eos-web/img/logos/EOS_logo1.svg" alt="" width="150" height="90">
                  <h4 class="service-item">EOS Control Tower</h4>
                  <p class="service-item">EOS Service monitoring at CERN.</p>
                </div>
            </a>
          </div>
          <div class="col-md-4 col-sm-6">
            <a href="https://cernbox.cern.ch/" target="_blank">
                <div class="item-boxes wow fadeInDown" data-wow-delay="0.4s">
                  <img src="/eos-web/img/logos/cernbox_logo.svg" alt="" width="160" height="90">
                  <h4 class="service-item">CERNBox Service</h4>
   	          <p class="service-item">Cloud data storage for Sync&amp;Share powered by EOS.</p>
                </div>
            </a>
          </div>
          <div class="col-md-4 col-sm-6">
            <a href="https://swan.web.cern.ch/" target="_blank">
                <div class="item-boxes wow fadeInDown" data-wow-delay="0.6s">
                  <img src="/eos-web/img/logos/swan_logo_letters.png" alt="" width="100" height="70"><br/>
                  <h4 class="service-item swan-item">Swan Service</h4>
                  <p class="service-item">Web based analysis to perform interactive data analysis in the cloud.</p>
                </div>
            </a>
          </div>
        </div>
      </div>
    </section>
    <!-- Services Section End -->


    <!-- Features Section Start -->
    <section id="features" class="section" data-stellar-background-ratio="0.2">
      <div class="container">
        <div class="section-header">
          <h2 class="section-title wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">EOS <span>RESOURCES</span></h2>
          <hr class="lines wow zoomIn" data-wow-delay="0.3s">
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="content-left text-right wow fadeInLeft animated" data-wow-offset="10">
              <div class="box-item left">
                <a href="https://gitlab.cern.ch/dss/eos" target="_blank">
                    <span class="icon">
                        <i class="fa fa-gitlab"></i>
                    </span>
                </a>
                <div class="text">
                  <h4>GitLab</h4>
                  <p>CERN source code repository</p>
                </div>
              </div>
              <div class="box-item left">
                <a href="https://github.com/cern-eos/eos" target="_blank" aria-hidden="true">
                    <span class="icon" aria-hidden="true">
                      <i class="fa fa-github"></i>
                    </span>
                </a>
                <div class="text">
                  <h4>GitHub</h4>
                  <p>Public source code repository</p>
                </div>
              </div>
              <div class="box-item left">
                <a href="https://its.cern.ch/jira/secure/RapidBoard.jspa?rapidView=4511&projectKey=EOS" target="_blank">
                    <span class="icon">
                       <i class="fontello icon-fontello-jira"></i>
                    </span>
                </a>
                <div class="text">
                  <h4>JIRA</h4>
                  <p>EOS bug tracker</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="show-box wow fadeInDown animated" data-wow-offset="10">
              <img src="/eos-web/img/features/gear.png" alt="">
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="content-right text-left wow fadeInRight animated" data-wow-offset="10">
              <div class="box-item right">
                <a href="https://gitlab.cern.ch/dss/eos/pipelines" target="_blank">
                    <span class="icon">
                       <i class="fontello icon-fontello-jenkins"></i>
                    </span>
                </a> 
                <div class="text">
                  <h4>CI on GitLab</h4>
                  <p>Continous integration platform</p>
                </div>
              </div>
              <div class="box-item right">
                <a target="_blank" href="/eos-web/yum/">
                    <span class="icon">
                       <i class="fa fa-y-combinator"></i>
                    </span>
                </a>
                <div class="text">
                  <h4>YUM</h4>
                  <p>EOS software repositories</p>
                </div>
              </div>
              <div class="box-item right">
                <a href="http://eos-community.web.cern.ch" target="_blank">
                    <span class="icon">
                       <i class="fontello icon-fontello-gitter"></i>
                    </span>
                </a>
                <div class="text">
                  <h4>Community</h4>
                  <p>Community Forum for EOS related topics.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Features Section End -->

    <!-- Access our Documentation Section Start -->
    <section id="documentation" class="section">
      <div class="container">
        <div class="section-header">
          <h2 class="section-title wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="0.3s"> Want to know more&#63;</h2>
        </div>
        <div class="row">
           <div class="col-md-4">
            <div class="download-area text-center wow fadeInUp" data-wow-delay="0.3s">
                <a href="http://eos-docs.web.cern.ch/eos-docs/" target="_blank" class="btn btn-border"><i class="fa fa-book"></i>Documentation</a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="download-area text-center wow fadeInUp" data-wow-delay="0.3s">
                <a href="https://cernbox.cern.ch/index.php/s/Kl0hxpeA5bFQ4Ho?path=presentations"  target="_blank" class="btn btn-border"><i class="fa fa-file-powerpoint-o"></i>Presentations</a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="download-area text-center wow fadeInUp" data-wow-delay="0.3s">
                <a href="https://cernbox.cern.ch/index.php/s/Kl0hxpeA5bFQ4Ho?path=publications" target="_blank" class="btn btn-border"><i class="fa fa-file-pdf-o"></i>Publications</a>
            </div>
          </div>
        </div>
	<div class="row">
	  <div class="col-md-7">
	    <div class="download-area text-center wow fadeInUp" data-wow-delay="0.3s">
                <a href="https://indico.cern.ch/search?search-phrase=EOS+Workshop&search-field=title&search-start_date=01%2F01%2F2017&search-end_date=" target="_blank" class="btn btn-border"><i class="fa fa-file-powerpoint-o"></i>&nbsp&nbsp&nbspWorkshops&nbsp&nbsp&nbsp</a>
            </div>

	  </div>
	  <div class="col-md-3">
            <div class="download-area text-center wow fadeInUp" data-wow-delay="0.3s">
                <a href="http://eos-docs.web.cern.ch/eos-docs/releases/citrine-release.html" target="_blank" background-color="#d5f4e6" class="btn btn-border"><i class="fa fa-book"></i>Release Notes v4</a>
            </div>
          </div>
	</div>
      </div>
    </section>
    <!-- Access our Documentation Section End -->
    
     <!-- Collaborations Section Start -->
    <section id="collaborations" class="section">
      <div class="container">
        <div class="section-header">
          <h2 class="section-title wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">Our <span>Collaborations</span></h2>
          <hr class="lines wow zoomIn" data-wow-delay="0.3s">
        </div>

        <div class="row">
          <div class="col-md-4 col-sm-6">
            <a href="https://www.aarnet.edu.au" target="_blank">
                <div class="item-boxes wow fadeInDown" data-wow-delay="0.6s">
                  <img src="/eos-web/img/logos/Aarnet_logo.png" alt="" width="140" height="60"><br/>
                  <h4 class="service-item swan-item">AARNet</h4>
                  <p class="service-item">Australia's Academic and Research Network.</p>
                </div>
            </a>
          </div>
          <div class="col-md-4 col-sm-6">
            <a href="https://www.comtrade.com" target="_blank">
                <div class="item-boxes wow fadeInDown" data-wow-delay="0.4s">
                  <img src="/eos-web/img/logos/Comtrade_logo.png" alt="" width="150" height="80">
                  <h4 class="service-item">Comtrade</h4>
   	          <p class="service-item">Group of technology companies</p>
                </div>
            </a>
          </div>
	  <div class="col-md-4 col-sm-6">
            <a href="https://ec.europa.eu/jrc/en" target="_blank">
                <div class="item-boxes wow fadeInDown" data-wow-delay="0.2s">
                  <img src="/eos-web/img/logos/JRC_logo.png" alt="" width="140" height="80">
                  <h4 class="service-item">JRC</h4>
                  <p class="service-item">Joint Research Centre.</p>
                </div>
            </a>
          </div>
	</div>
	<div class="row">
	  <div class="col-md-4 col-sm-6">
	    <div class="item-boxes wow fadeInDown" data-wow-delay="0.8s">
	    </div>
	  </div>
          <div class="col-md-4 col-sm-6">
            <a href="http://xrootd.org" target="_blank">
                <div class="item-boxes wow fadeInDown" data-wow-delay="0.8s">
                  <img src="/eos-web/img/logos/Xrootd_logo.png" alt="" width="150" height="60"><br/>
                  <h4 class="service-item swan-item">XRootD</h4>
                  <p class="service-item">Open-Source Storage Framework.</p>
                </div>
            </a>
          </div>
        </div>
      </div>
    </section>
    <!-- Services Section End -->

    <!-- Blog Section -->
    <section id="blog" class="section">
      <!-- Container Starts -->
      <div class="container">
        <div class="section-header">
          <h2 class="section-title wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">Latest <span>News</span></h2>
          <hr class="lines wow zoomIn" data-wow-delay="0.3s">
          <p class="section-subtitle wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="0.3s">Last news of the Cern Data Center and Eos workshops will be published here.</p>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 blog-item">
            <!-- Blog Item Starts: Workshop-->
            <div class="blog-item-wrapper wow fadeInUp" data-wow-delay="0.3s">
              <div class="blog-item-img"> 
                  <img src="/eos-web/img/logos/EOS_logo1.svg" alt="" width="200" height="200">
              </div>
              <div class="blog-item-text">
                <h3>
                Fifth EOS Workshop at CERN
		</h3>
                <div class="meta-tags">
                  <span class="date"><i class="lnr lnr-calendar-full"></i>on March 1-5, 2021</span>
                </div>
                <p>
		This five days virtual event is organized to provide a platform for exchange between developers, users and sites running EOS.
The workshop will cover a wide range of topics related to EOS development, operations, deployments, applications, collaborations and various use-cases!
		</p>
                <a href="https://indico.cern.ch/event/985953/" target="_blank" class="btn btn-common btn-rm">Read More</a>
              </div>
            </div>
            <!-- Blog Item Wrapper Ends: Workshop-->
          </div>

	            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 blog-item">
            <!-- Blog Item Starts: COVID  -->
            <div class="blog-item-wrapper wow fadeInUp" data-wow-delay="0.6s" >
              <div class="blog-item-img">
                  <img src="/eos-web/img/blog/up2you.jpg" alt="" width="200" height="200">
              </div>
              <div class="blog-item-text">
                <h3>
                  Powering openUp2U eLearning during COVID-19 crisis
                </h3>
                <div class="meta-tags">
                  <span class="date"><i class="lnr lnr-calendar-full"></i>on Mar 25, 2020</span>
                </div>
                <p>
                The EU-funded Up2U project has today announced that openUp2U, a remote eLearning platform will be available to all schools and universities across Europe, in an effort to support continued learning during the COVID-19 pandemic.
		</p>
                <a href="https://www.geant.org/News_and_Events/Pages/Up2U-remote-learning-platform-expands-access-to-all-schools-and-universities-across-Europe.aspx" target="_blank" class="btn btn-common btn-rm">Read More</a>
              </div>
            </div>
            <!-- Blog Item Wrapper Ends: COVID-->
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 blog-item">
            <!-- Blog Item Starts: AARNET-->
            <div class="blog-item-wrapper wow fadeInUp" data-wow-delay="0.9s" >
              <div class="blog-item-img">
                  <img src="/eos-web/img/blog/cerncc.jpg" alt="" width="200" height="200">
              </div>
              <div class="blog-item-text">
                <h3>
                AARNet and CERN sign MOU
                </h3>
                <div class="meta-tags">
                  <span class="date"><i class="lnr lnr-calendar-full"></i>on Sep 20, 2017</span>
                </div>
                <p>
		AARNet and CERN (the European Organization for Nuclear Research) recently signed a formal agreement which establishes a framework for ongoing collaborations to develop cloud storage technologies for the benefit of scientific and education communities globally.
                </p>
                <a href="https://news.aarnet.edu.au/aarnet-and-cern-sign-mou-for-developing-cloud-storage-technologies/" target="_blank"class="btn btn-common btn-rm">Read More</a>
              </div>
            </div>
            <!-- Blog Item Wrapper Ends: AARNET-->
          </div>
        </div>
      </div>
    </section>
    <!-- blog Section End -->

    <!-- Contact Section Start -->
    <section id="contact" class="section">
      <div class="container">
        <div class="row justify-content-md-center">
          <div class="col-md-9 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="0.3s">
            <div class="contact-block">
              <div class="section-header">
                <h2 class="section-title wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">Contact <span>Us</span></h2>
                <hr class="lines wow zoomIn" data-wow-delay="0.3s">
              </div>
              <!-- MAP, EMAIL and PHONE section -->

              <div class="col-md-12">
                  <div class="contact_detail wow animated fadeInUp">
                  <div class="row">
                      <div class="col-md-6 col-sm-6 col-xs-12">
                          <div class="contact_detail_m">
                              <i class="etline icon-etline-map"></i><br>
                              <a href="https://goo.gl/maps/DUt37zN3UNK2" target="_blank"><p>Route de Meyrin, 1217 Meyrin, Geneva</p></a>
                          </div>
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                          <div class="contact_detail_m">
                              <i class="etline icon-etline-envelope"></i>
                              <a href="mailto:eos-support@cern.ch"><p>eos-support</p></a>
                          </div>
                      </div>
                      <div class="col-md-12 col-sm-12 col-xs-12">
                          <div class="contact_detail_m">
                              <i class="etline icon-chat"></i>
                              <a href="http://eos-community.web.cern.ch"><p>eos-community</p></a>
                          </div>
                      </div>
                      </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Contact Section End -->

