@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello/fontello.eot?958995');
  src: url('../fonts/fontello/fontello.eot?958995#iefix') format('embedded-opentype'),
       url('../fonts/fontello/fontello.woff2?958995') format('woff2'),
       url('../fonts/fontello/fontello.woff?958995') format('woff'),
       url('../fonts/fontello/fontello.ttf?958995') format('truetype'),
       url('../fonts/fontello/fontello.svg?958995#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?11598615#fontello') format('svg');
  }
}
*/

 /*[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;

  font-variant: normal;
  text-transform: none;

  line-height: 1em;

  margin-left: .2em;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}*/

.fontello {
    font-family: 'fontello';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-fontello-fire:before { content: '\e800'; } /* '' */
.icon-fontello-gauge:before { content: '\e801'; } /* '' */
.icon-fontello-cernbox-dark:before { content: '\e802'; } /* '' */
.icon-fontello-asterisk:before { content: '\e803'; } /* '' */
.icon-fontello-cernbox-abstract:before { content: '\e804'; } /* '' */
.icon-fontello-gitter:before { content: '\e805'; } /* '' */
.icon-fontello-jenkins:before { content: '\e806'; } /* '' */
.icon-fontello-jira:before { content: '\e807'; } /* '' */
